---
import { getEntry } from "astro:content";
import { friendLinksConfig } from "@/config";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";

const friendLink = await getEntry("spec", "friendlink");
const { Content } = await friendLink.render();
---

<MainGridLayout
  title={i18n(I18nKey.friendLink)}
  description={i18n(I18nKey.friendLink)}
  showComment
>
  <div
    class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-36"
  >
    <div class="card-base z-10 px-9 py-6 relative w-full flex flex-wrap gap-2">
      <Markdown class="w-full">
        <Content />
      </Markdown>
      {
        friendLinksConfig.map(({ avatarURL, link, bio, nickname }) => {
          return (
            <info-card
              avatar={avatarURL}
              link={link}
              name={nickname}
              desc={bio}
              style="width: 30%;"
            />
          );
        })
      }
    </div>
  </div>
</MainGridLayout>

<script src="../components/web-components/InfoCard.ts"></script>
