---
import { friendLinksConfig } from "@/config";
import FriendCard from "@components/FriendCard";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
---

<MainGridLayout
  title={i18n(I18nKey.friendLink)}
  description={i18n(I18nKey.friendLink)}
  showComment
>
  <div
    class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-36"
  >
    <div class="card-base z-10 px-9 py-6 relative w-full flex flex-wrap gap-8">
      <h1 class="text-2xl font-semibold w-full">My Friends</h1>
      <p class="w-full">
        需要互加友链的朋友，请直接留言或通过主页任意方式联系我
      </p>
      {
        friendLinksConfig.map(({ avatarURL, link, bio, nickname }) => {
          return (
            <FriendCard
              className="flex-none w-2/5"
              avatarURL={avatarURL}
              link={link}
              bio={bio}
              nickname={nickname}
              client:load
            />
          );
        })
      }
    </div>
  </div>
</MainGridLayout>
